<!DOCTYPE html>
<html>
  <head>
    <title>StripePayment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content" class="container">
      <header id="content-header">
      <header id="content-header">
        <div id="price-container">
          <span class="glyphicon glyphicon-tag"></span><span class="price">$9.99</span>
        </div>
        <%= image_tag "header-image", id: "content-image", alt: "Learn Rails" %>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
